*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --whatsappgreen: #25D366;
  --darkgreen: #128C7E;
  --white: #FFFFFF;
  --black:#000000;
  --softbackground: #F7F5F3;

}

body {
  font-family: Segoe UI;
}